* { margin: 0; padding: 0; outline-style: none; }
html, body { height: 100%; }
body { background-color: #fff; font-family: 'Lucida Grande', 'Gill Sans', Arial, Helvetica, Sans-serif; margin: 0; padding: 0; font-size: 13px; color: #333; }
h1 { font-size: 20px; margin-bottom: 10px;  }
h2 { font-size: 14px; margin-bottom: 10px; }
h3 { font-size: 12px; margin: 15px 0 3px 0; }
a { color: #0e3e7e; text-decoration: none; }
img { border: 0; }
a:hover { text-decoration: underline; }
a:visited { color: #4679bd;}
p { margin: 5px 0 15px 0; }
option { margin: 0 2px; }
input,select,textarea { font-size: 13px; font-family: 'Lucida Grande', 'Gill Sans', Arial, Helvetica, Sans-serif; }
ul { margin-bottom: 10px; }
optgroup option { padding-left: 10px; }





/* Formalize */



/* `Widths
----------------------------------------------------------------------------------------------------*/

.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

/*
  Added via JS to <textarea> and class="input_full".
  Applies only to IE7. Other browsers don't need it.
*/
.input_full_wrap {
  display: block;
  padding-right: 8px;
}

/* `UI Consistency
----------------------------------------------------------------------------------------------------*/

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

input,
button,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  vertical-align: top;
  top: 3px;
  /* IE8, IE9, IE10 */
  top: 0\0;
  /* IE7 */
  *top: -3px;
}

/* iPad */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 1024px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 2px;
  }
}

/* iPhone 3 */
@media (-webkit-min-device-pixel-ratio: 1) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

/* iPhone 4 */
@media (-webkit-min-device-pixel-ratio: 2) and (max-device-width: 480px) {
  input[type="radio"],
  input[type="checkbox"] {
    vertical-align: baseline;
    top: 0;
  }
}

button,
input[type="reset"],
input[type="submit"],
input[type="button"] {
  -webkit-appearance: none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background: #ddd url(../images/button.png) repeat-x;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1, #ddd));
  background: -moz-linear-gradient(top center, #fff 0%, #ddd 100%);
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  /*
    Helvetica Neue present, because it works better
    for line-height on buttons than Arial, on OS X.
  */
  font: bold 12px/1.3 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  padding: 3px 10px;
  text-shadow: #fff 0 1px 1px;
  width: auto;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 0px;
}

button {
  /* IE7 */
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-appearance: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid;
  border-color: #aaa #c1c1c1 #e1e1e1;
  color: #666;
  outline: 0;
  padding: 4px;
  font-size: 13px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  /*
    Leaving out Helvetica Neue, to not throw off size="..."
    on inputs. Arial is more reliable, on Windows and OS X.
  */
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;

  /* IE7 */
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
  
-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);  
  
}

select { height: 27px; line-height: 17px;}

/*
  Separate rule for Firefox.
  Separate rule for IE, too.
  Cannot stack with WebKit's.
*/
::-webkit-input-placeholder {
  color: #888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888;
}

:invalid {
  /*
    Suppress red glow that Firefox
    adds to form fields by default,
    even when user is still typing.
  */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

button:focus,
button:active,
input:focus,
input:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
outline: 0;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);

  /* for Opera */
  z-index: 1;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select[disabled],
textarea[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  color: #888;
  cursor: default;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

/* Tweaks for Safari + Chrome. */
@media (-webkit-min-device-pixel-ratio: 0) {
  select {
    background-image: url(../images/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  select[size],
  select[multiple] {
    background-image: none;
    padding: 0;
  }

  ::-webkit-validation-bubble-message {
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666), color-stop(1, #000));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: #fff;
    font: 13px/17px 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: #000 0 0 1px;
    height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666;
    border: 0;
  }
}

textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: #000;
  font-style: normal;
  font-weight: normal;
}

/* `IE6
----------------------------------------------------------------------------------------------------*/

/*
  Everything below this line is for IE6.
  Delete it if you don't support it! :)

  Classes are added dynamically via JS,
  because IE6 doesn't support attribute
  selectors: .ie6_button, .ie6_input, etc.

  Note: These style rules are somewhat
  duplicated because IE6 bombs out when
  it sees attribute selectors. Example:

  .ie6_button {
    This works in IE6.
  }

  .ie6_button,
  input[type=submit] {
    This doesn't work.
  }
*/

.ie6_button,
* html button {
  background: #ddd url(../images/button.png) repeat-x;
  border: 1px solid;
  border-color: #ddd #bbb #999;
  cursor: pointer;
  color: #333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
  background: #fff;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: #000;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

* html select {
  margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888;
}

.ie6_input_disabled {
  background: #eee;
}













/* generic classes */
p.instructions { font-size: 14px; line-height: 18px; }
ul.nobullets { list-style: none; }
.tooltip { cursor: help; text-decoration: none; border-bottom: 1px dotted #0e3e7e;}
.fillin { color: #aaa; }
.clear { clear: both; height: 0; font-size: 0px; line-height: 0px; }


span.required { color:#c30; }
.datepicker_hh { margin-right: 2px; }
.datepicker_mm { margin: 0 5px 0 2px; }
.unpublished { color: #b30 !important; }
.published { color: #690; }
.div_vert { background: transparent url(../images/div_vert.png) repeat-y center center; width: 2px; height: 36px; padding: 0 15px; }
.search { padding-left: 3px; }
.show { padding-left: 15px; }
.loader { margin: auto; width: 32px; height: 32px; text-align: center; background: #fff url(../images/spinner.gif) no-repeat center center; /*border: 1px solid #ddd;*/ }
.loader_sm { margin: auto; width: 16px; height: 16px; text-align: center; background: #fff url(../images/spinner_sm.gif) no-repeat center center !important; }
.hidden { display: none; }
.float_left { float: left; }
.float_right { float: right; }
.tiny { font-size: 9px; }
tr.drag { border: 1px solid #ccc !important; background-color: #ffe !important }
tr.drag td { cursor: move !important; background-color: #ffe !important; }
a.editor_viewsource { margin: 4px 0 4px 0; display: block; float: left; height: 14px; line-height: 14px !important; }

/* give body context to overwrite other generic styles like the jqModal background color*/
body .success { background-color: #6ec461; background-repeat: no-repeat; }
body .warning { background-color: #FDF5D9; background-repeat: no-repeat; border: 1px solid #FCEEC1; -webkit-border-radius: 5px; }
body .error { background-color: #c30; background-repeat: no-repeat; }
body .error li { color: #fff; }
body .error li p, body .error li li { margin: 0; padding: 0; }

body .jqmWindow {
     -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

span.error, span.success, strong.error, strong.success { color: #fff; padding: 2px 5px; }
span.warning { padding: 2px 5px; }
span.error_highlight input, span.error_highlight textarea, span.error_highlight select { border: 2px solid #c30; }
.change { background: #ffe; }
.delete { color: #c30; font-weight: bold;  }
a.delete {
    color: #fff; display: block; float: left; margin-top: 10px; border: 1px solid #ccc; padding: 5px;
    
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);    
}

a.btn { border: 1px solid #ccc; background: #e6e6e6 url(../images/btn.png) repeat-x; height: 27px; line-height: 27px; display: block; padding: 0 15px 0 15px; float: left; }
div.btn { border: 1px solid #ccc; background: #e6e6e6 url(../images/btn.png) repeat-x; float: left; list-style: none;  margin: 0;  padding: 0 15px 0 0px; line-height: 27px; }
.btn input, .btn .button { border: none; background-color: transparent; height: 19px; }

/* for multi-file plugin*/
.MultiFile-remove { line-height: 22px; padding: 0 3px; border: 1px solid #ccc; background-color: #f9f9f9; }

/* header */
div#fuel_header { line-height: 28px; position: relative; z-index: 10; zoom: 1; float: left; position: absolute; top: 0; left: 0;}
div#fuel_header { color: #fff;padding: 0 0; color: #fff; text-shadow: #444 0px 1px 0px; width: 200px; margin-top: 5px; margin-bottom: 10px; }
div#fuel_header a { color: #fff; }
div#fuel_header a:hover { text-decoration: underline; }
h1#site_name { float: left; font-size: 16px; background: url(../images/fuel_logo.png) no-repeat top center; width: 200px; height: 65px; text-indent: -9999px; margin-bottom: 0;}
h1#site_name a { color: #fff;  }
div#login_logout { text-align: center; font-size: 11px; color: #ccc; }
div#fuel_footer {
    font-size: 10px; text-align: left; color: #666; padding: 3px; height: 14px; margin-left: 220px; padding: 12px 20px; border-top: 1px dashed #ddd; margin-top: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    margin-right: 20px;
}

div#login_footer #fuel_footer {
    position: static;
    bottom: auto;
    top: auto;
    margin: auto;
    border-top: none;
}

div#fuel_footer a { color: #333; }
div#fuel_boilerplate { line-height: 12px; }

div#fuel_wrapper {
    height: auto;
    min-height: 100%;
    width: 100%;
    position: relative;
    background: url(../images/menu-bg.png) repeat-y;
}

/* body*/
div#fuel_body { }

/******************************************************
left panel 
******************************************************/
/* div#fuel_left_panel { position: absolute; top: 30px; left: 0px; bottom: 20px; width: 200px; background-color: #373b3e; overflow: auto; border-right: 1px solid #c3c3c3; overflow-x: hidden; } */
div#fuel_left_panel { clear: both; float: left; width: 200px; overflow: auto; overflow-x: hidden;     background-image: url(../images/menu-shadow.png);
    background-position: top right;
    background-repeat: repeat-y;
    background-color: #373b3e;
    margin-top: 100px;
 } 


div#fuel_left_panel a { color: #fefefe; text-decoration: none; text-shadow: 1px 1px 0 rgba(0, 0, 0, .4); display: block; overflow: hidden; text-overflow: ellipsis; }
div#fuel_left_panel a:hover { color: #fff; text-decoration: none; }
div#fuel_left_panel li { -webkit-transition: .2s linear background-color; -moz-transition: .2s linear background-color; transition: .2s linear background-color;  }
div#fuel_left_panel li:hover { background-color: rgba(0, 0, 0, .2);  -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px;}
div#fuel_left_panel_inner { padding: 0; text-shadow: 1px 1px 0px rgba(0, 0, 0, .3); margin-top: 10px; }
div#fuel_left_panel_inner h3 {
    margin: 0; cursor: pointer; font-size: 14px; color: #fff; padding:  6px 15px 6px 15px;
    -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    color: #333;
    margin-bottom: 5px;
    
    background: #f1f1f1;
    background: -moz-linear-gradient(top, #fafafa 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #fafafa 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #fafafa 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #fafafa 0%,#dddddd 100%);
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0ZBRkFGQSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0RERERERCIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzI2KSIgLz4KPC9zdmc+);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dddddd',GradientType=0 )\9;
    background: linear-gradient(top, #fafafa 0%,#dddddd 100%);
    
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #fff;
        
    text-shadow: 1px 1px 0 rgba(255, 255, 255, .3);
    font-size: 13px;
    line-height: normal;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

div#fuel_left_panel_inner h3.closed { }
div#fuel_left_panel_inner li { list-style: none; margin: 0; padding: 2px 0px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
div#fuel_left_panel_inner li.active { background: rgba(255, 255, 255, .2); color: #fff; -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; }
div#fuel_left_panel_inner li.active a { color: #fff; text-shadow: #555 0px 1px 0px; }
div#fuel_left_panel_inner li ul li a { margin-left: 15px; }
div#fuel_left_panel_inner li.active ul li.active  {  background: none; }
div#fuel_left_panel_inner li.active ul li a { color: #333; text-decoration: none; text-shadow: #fff 0px 1px 0px; background: none;  }
div#fuel_left_panel_inner li.active ul li.active a { text-decoration: none; }
div#fuel_left_panel_inner .left_nav_section { margin-bottom: 5px; margin-left: 10px; }

div#fuel_left_panel_inner .left_nav_section > ul {
    margin-left: 15px;
    -webkit-transition: .2s linear all; -moz-transition: .2s linear all; transition: .2s linear all;
}


div#fuel_menu_back {
    background-image: url(../images/menu-shadow.png);
    background-position: top right;
    background-repeat: repeat-y;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 0;
    width: 5px;
    left: 194px;
}

/* icos */
.ico { display: block; padding-left: 25px; list-style: none; background-position: 5px center; background-repeat: no-repeat; line-height: 20px; background-image: url(../images/ico_cog.png); min-width: 16px; min-height: 16px; }
.ico_dashboard { background-image: url(../images/ico_dashboard.png); }
.ico_pages { background-image: url(../images/ico_page_white_stack.png); }
.ico_blocks { background-image: url(../images/ico_application_view_tile.png); }
.ico_navigation { background-image: url(../images/ico_sitemap_color.png); }
.ico_assets { background-image: url(../images/ico_pictures.png); }
.ico_sitevariables { background-image: url(../images/ico_page_white_code.png); }
.ico_notes { background-image: url(../images/ico_note.png); }
.ico_tools { background-image: url(../images/ico_wrench.png); }
.ico_module { background-image: url(../images/ico_cog.png); }
.ico_other { background-image: url(../images/ico_cog.png); }
.ico_users { background-image: url(../images/ico_status_online.png); }
.ico_manage_cache { background-image: url(../images/ico_page_lightning.png); }
.ico_manage_activity { background-image: url(../images/ico_book_open.png); }
.ico_save { background-image: url(../images/ico_disk.png); }
.ico_duplicate { background-image: url(../images/ico_page_copy.png); }
.ico_view { background-image: url(../images/ico_layout_content.png); }
.ico_publish { background-image: url(../images/ico_page_green.png); }
.ico_unpublish { background-image: url(../images/ico_page_red.png); }
.ico_activate { background-image: url(../images/ico_page_green.png); }
.ico_deactivate { background-image: url(../images/ico_page_red.png); }
.ico_delete { background-image: url(../images/ico_page_delete.png); }
.ico_create { background-image: url(../images/ico_page_add.png); }
.ico_table {  background-image: url(../images/ico_table.png); }
.ico_tree {  background-image: url(../images/ico_vert_tree.png); }
.ico_info {  background-image: url(../images/ico_information.png); }
.ico_warn {  background-image: url(../images/ico_error.png); }
.ico_success {  background-image: url(../images/ico_accept.png); }
.ico_error {  background-image: url(../images/ico_cancel.png); }
.ico_yes {  background-image: url(../images/ico_accept.png); }
.ico_no {  background-image: url(../images/ico_cancel.png); }
.ico_cancel {  background-image: url(../images/ico_cancel.png); }
.ico_permissions { background-image: url(../images/ico_key.png); }
.ico_remove_line { background-image: url(../images/ico_cancel.png); float: right;  }
.ico_view_all { background-image: none; line-height: 22px; padding-left: 5px; }
.ico_refresh { background-image: url(../images/ico_arrow_refresh.png); }
.ico_users_send_email { background-image: url(../images/ico_email_go.png); }
.ico_precedence { background-image: url(../images/table_row_insert.png); }
.ico_pages_upload, .ico_navigation_upload, .ico_blocks_upload { background-image: url(../images/ico_page_white_get.png); }


#leftnav_site { }
#leftnav_blog { }
#leftnav_tools { }
#leftnav_manage { }
#leftnav_recent { }


/******************************************************
main panel 
******************************************************/
/* div#main_panel { position: absolute; top: 30px; left: 201px; right: 0px; bottom: 20px; background-color: #fff; } */

div#main_panel { margin-left: 200px; height: 100%; background-color: #fff; }

/* tab nav */
div#main_top_panel { font-size: 18px; color: #fff; overflow: hidden; padding: 15px 0; z-index: 10; position: relative;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .3); -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, .3); box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    background: #f1f1f1;
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcyNiIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj4KPHN0b3Agc3RvcC1jb2xvcj0iI0ZBRkFGQSIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI0RERERERCIgb2Zmc2V0PSIxIi8+CjwvbGluZWFyR3JhZGllbnQ+CjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZzI2KSIgLz4KPC9zdmc+);    
    background: -moz-linear-gradient(top, #fafafa 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #fafafa 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #fafafa 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #fafafa 0%,#dddddd 100%);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#dddddd',GradientType=0 )\9;
    background: linear-gradient(top, #fafafa 0%,#dddddd 100%);
    
    border-bottom: 1px solid #f1f1f1;
    border-top: 1px solid #fff;
}

div#main_top_panel h2 { color: #333; font-size: 20px; margin-left: 15px; margin-bottom: 0; font-weight: normal; text-shadow: 1px 1px 0 rgba( 255, 255, 255, .8);}
div#main_top_panel h2 a { color: #0064CD; }
div#main_top_panel li { float: left; display: block; list-style: none; line-height: 29px; font-weight: bold; border-right: 1px solid #6e6e6e;}
div#main_top_panel li a { display: block; color: #fff; text-shadow: #555 0px 1px 0px; background: #6d6d6d url(../images/tab.png) repeat-x;  padding: 0 15px; }
div#main_top_panel li a:hover { background: #7c7c7c url(../images/tab.png) repeat-x 0 -29px; }
div#main_top_panel li.active a { background: #e7e7e7 url(../images/tab.png) repeat-x 0 -58px; color: #113556; text-shadow: #fff 0px 1px 0px;  }

div#action { background-color: #eee; height: 46px; border-bottom: 1px solid #ccc;  position: relative; min-width: 680px;}

div#main_panel > .clear { clear: none; }

/* dashboard */
div#main_content .dashboard_pod { float: left; margin-right: 10px }
div#main_content .dashboard_pod h3 {
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxNjIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFNkU2RTYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cxNjIpIiAvPgo8L3N2Zz4=);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0)\9;
    padding: 8px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    margin-top: 0; 
}

div#main_content .dashboard_module { float: left; margin-right: 10px; margin-top: 10px; }

/* filters */
div#filters { position: absolute; right: 15px; top: 11px; }
a#multi_delete { display: block; }

/* other items */
div#other_items { float: left; margin: 2px 20px 0px 20px; }
div#other_items select{  max-width: 300px;}

/* button bar*/
div#actions { position: absolute; top: 9px; left: 15px; }
div.buttonbar ul {  height: 27px; float: left; }
div.buttonbar li:first-child { -webkit-border-radius: 5px 0 0 5px; -moz-border-radius: 5px 0 0 5px; border-radius: 5px 0 0 5px; }
div.buttonbar li, input[type=submit], input[type=button] {
    background-color: #E6E6E6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9ImcxNjIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFNkU2RTYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2cxNjIpIiAvPgo8L3N2Zz4=);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0)\9;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border: 1px solid #CCC;
    border-bottom-color: #BBB;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    border-right: none;
    float: left;list-style: none;  margin: 0;
}

input[type=submit], input[type=button] {
    border-right: 1px solid #ccc;
}

input[type=submit] {
    color: #ffffff;
    background-color: #0064cd;
    background-repeat: repeat-x;
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NjAiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiMwNDlDREIiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiMwMDY0Q0QiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5NjApIiAvPgo8L3N2Zz4=);
    background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
    background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
    background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
    background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
    background-image: -o-linear-gradient(top, #049cdb, #0064cd);
    background-image: linear-gradient(top, #049cdb, #0064cd);
    
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0)\9;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #0064cd #0064cd #003f81;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

div.buttonbar li:hover, input:hover[type=submit], input:hover[type=button] { background-position: 0 -15px; text-decoration: none; }

div.buttonbar li.active, div.buttonbar li a:active, input:active[type=submit], input:active[type=button] {
    -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

div.buttonbar li.active a { color: #000; }
div.buttonbar li a { color: #0e3e7e; height: 27px; line-height: 27px; display: block; padding: 0 15px 0 28px; }
div.buttonbar li.spacer {
    margin-left: 10px;
    -webkit-border-top-left-radius: 5px; -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px; -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px; border-bottom-left-radius: 5px;
    
}
div.buttonbar li.end {
    border-right: 1px solid #ccc;
    -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px; border-bottom-right-radius: 5px;
}
div.buttonbar li.start { border-left: 1px solid #ccc; }
div.save_cancel { height: 35px;  }
div.save_cancel li { margin: 5px 3px; }


/* box buttons use for manage */
div.boxbuttons li {  float: left;  display: block; list-style: none; width: 110px; height: 50px;  border: 1px solid #ccc;  margin-bottom: 15px; margin-right: 15px; }
div.boxbuttons li a { display: block; text-align: center; padding: 25px 5px 5px 5px; width: 100px; height: 20px; background-color: #fff; background-repeat: no-repeat; background-position: center 5px;}
div.boxbuttons li a:hover { background-color: #f6f6f6; }

/* notification */
div#notification { background-color: #DDF4FB; text-overflow: ellipsis; overflow: hidden; position: relative; }
div.notification p, div.notification div, div.notification ul {  margin: 0; min-height: 15px; line-height: 15px; padding: 8px 0 8px 35px; list-style: none; background-repeat: no-repeat; background-position: 14px 8px; list-style: none; }
div.notification .ico { line-height: 15px; }

div.notification .blue, div.notification .last_updated {
     border-bottom: 1px solid #C6EDF9;
}

/* pagination */
div#pagination { position: absolute; z-index: 1; right: 0px; top: -3px; text-align: right; padding-right: 15px; }
div#pagination a { line-height: 21px; padding: 0 3px; border: 1px solid #ccc; background-color: #f9f9f9; }
div#pagination a:hover { background-color: #fdfdfd; } 
div#pagination b { color: #fff; background-color: #4f7193; line-height: 21px; padding: 0 3px; border: 1px solid #ccc;  }

/* main content */


div#main_panel {
  zoom: 1;
  
}
div#main_content:before, div#main_content:after {
  display: table;
  content: "";
  zoom: 1;
  *display: inline;
}
div#main_content:after {
  clear: both;
}


div#main_content { padding-bottom: 40px;  }
div#main_content h3 { background-color: #f6f6f6; padding: 5px; margin-bottom: 10px; }
div#main_content .buttonbar li { margin-right: 15px; }
div#main_content_inner { padding: 15px 35px; float: left; /* width: 100%;*/ }
div#main_content_inner .bullets { margin-left: 15px; }
div.noaction { top: 0 !important; }

/* data table */
div#table_loader { position: absolute; top: 20px; left: 50%; margin-left: -25px; z-index: 2;}
div#data_table_container { }
table#data_table { margin-top: 6px;    }
#data_table .publish_hover:hover .publish_action { display: inline; }
#data_table .publish_hover:hover .publish_text { display: none; }

table#data_table.rearrange tr:hover td { cursor: move !important; background-color: #ffe !important; }
table.data { width: 98%; margin: 0px auto; }
table.data th {padding: 0; white-space: nowrap;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
    background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5MDciIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRkZGRkYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNFNkU2RTYiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5MDcpIiAvPgo8L3N2Zz4=);  
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0)\9;
    padding: 8px 14px 6px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    color: #333;
    font-size: 13px;
    line-height: normal;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #dfdfdf;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

}

table.data th:last-child { border-right: none; }

table.data td { padding: 5px 20px; background: whiteSmoke; border-top: 1px solid #fff; border-right: 1px solid #eee; white-space: nowrap; max-width: 300px; text-overflow: ellipsis; overflow: hidden; }
table.data th.on, table.data th.on a { color: #0064CD; }
table.data th a { text-decoration: none; }
table.data th a, table.data th span { color: #333; display: block; line-height: 22px; padding: 0; width: 100%;}

table.data th.asc a, table.data th.desc a{ padding: 0 0 0 20px; }
table.data th a:hover { text-decoration: underline; }

table.data th.asc a { background: transparent url(../images/th_arrow_asc.png) no-repeat 5px center; }
table.data th.desc a { background: transparent url(../images/th_arrow_desc.png) no-repeat 5px center; }
table.data th { text-align: left; }
table.data td.next_last { width: 100%; }
table.data td.actions { text-align: right; white-space: nowrap; padding-left: 5px; }
table.data tr.rowaction:hover td { background-color: #E3E2E1 !important; cursor: pointer; }
table.data th.col1 { min-width: 200px; }
table.data tr.alt { background-color: #f3f3f3; }
div.nodata { text-align: center; padding: 10px 0 15px 0;}

/* specific data column classes */
span.publish_col { width: 100px; display: block; cursor: pointer !important; }

/* form tables */
table.form { border: none; border-spacing: 0; }
table.form td.label, table.inline_form td.label { padding: 4px 15px 2px 0; font-weight: bold; vertical-align: top; }
table.form td.value, table.inline_form td.value { padding: 4px 0;vertical-align: top; }
table.form td.required, table.inline_form td.required { padding-top: 10px; }
div.more_filters div.field { float: left; }
div.more_filters div.field { padding: 0 3px 0 10px; }
div.more_filters div.field label { padding-right: 5px; }
div.more_filters div.value {  }
div#main_content_inner table.form td.label { min-width: 130px; line-height: 20px; }

/* tree */
div#tree_container { padding: 10px 15px; }
div#tree_loader { position: absolute; top: 20px; left: 50%; margin-left: -25px; z-index: 2;}

/* #login */
body.login {
    background: #373B3E url(../images/login_body.png) repeat;
}

div#login {
    margin: 50px auto 0 auto; width: 350px; min-height: 270px; position: relative; padding-bottom: 20px;
    text-align: center;

}
img#login_logo { margin: 0 auto 10px auto; }
div#login h1 { background: none; font-size: 16px; margin-bottom: 0; margin-left: 92px;}
div#login_inner {
    padding: 0 0 30px 0;
    margin: 0 auto; position: relative;
    text-align: left;

    
    -webkit-border-radius: 0 0 4px 4px; -moz-border-radius: 0 0 4px 4px; border-radius: 0 0 4px 4px;
    -webkit-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5); -moz-box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5); box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
    
    background: #F1F1F1;
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc5NjMiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGQUZBRkEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNEREREREQiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c5NjMpIiAvPgo8L3N2Zz4=);    
    background: -moz-linear-gradient(top, #FAFAFA 0%, #DDD 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#DDD));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#DDD 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#DDD 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#DDD 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FAFAFA', endColorstr='#DDDDDD',GradientType=0 ) \9;
    background: linear-gradient(top, #FAFAFA 0%,#DDD 100%);
    
}
div#login_inner table {
    margin: 0 auto;
    padding-top: 30px;
        
}

div#login .header {
    padding: 15px;
    color: #eee;
    text-align: left;
    font-weight: bold;


    background: #565656;
    background: -moz-linear-gradient(top, #565656 0%, #444444 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#444444));
    background: -webkit-linear-gradient(top, #565656 0%,#444444 100%);
    background: -o-linear-gradient(top, #565656 0%,#444444 100%);
    background: -ms-linear-gradient(top, #565656 0%,#444444 100%);    
    background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPgo8bGluZWFyR3JhZGllbnQgaWQ9Imc0NjIiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+CjxzdG9wIHN0b3AtY29sb3I9IiM1NjU2NTYiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiM0NDQ0NDQiIG9mZnNldD0iMSIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2c0NjIpIiAvPgo8L3N2Zz4=);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#444444',GradientType=0 )\9;
    background: linear-gradient(top, #565656 0%,#444444 100%);

    -webkit-border-radius: 4px 4px 0 0; -moz-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
    border-top: 1px solid rgba(255, 255, 255, .15);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4); box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);

}

div#login_notification { text-overflow: ellipsis; overflow: hidden; }
div#login_notification ul {
    -webkit-box-shadow: inset 0  8px 8px -8px rgba(0, 0, 0, .3), 
                        inset 0 -8px 8px -8px rgba(0, 0, 0, .3);
                        
    -moz-box-shadow: inset 0  8px 8px -8px rgba(0, 0, 0, .3), 
                     inset 0 -8px 8px -8px rgba(0, 0, 0, .3);
                        
    box-shadow: inset 0  8px 8px -8px rgba(0, 0, 0, .3), 
                inset 0 -8px 8px -8px rgba(0, 0, 0, .3);                        
                        
    background-position: 14px 12px;                        
    padding: 12px 15px 12px 35px;
    text-align: left;
}

div#login_notification li {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, .3);
}

a#login_btn { width: 60px; }
div#login_footer #fuel_footer { color: #888; }
div#login_footer #fuel_footer a { color: #bbb; }
a#forgotten_pwd { text-align: center; display: block; margin-top: 10px; }

/* assets & modal */
div#asset_modal { border: 2px solid #666; background-color: #fff; height: 300px; padding-top: 20px; display: none; }
div#asset_preview { height: 210px; width: 350px; overflow: auto; text-align: center; padding-top: 20px; }
div#asset_modal table.asset_select { width: 100%; }
div#asset_modal table.asset_select td { padding: 0 4px 0 0; vertical-align: top; }
div#asset_modal #asset_select { max-width: 350px;}
div#asset_ajax_form td.label { width: auto; }
div#asset_select_actions { margin: 10px 0 0 50px; }
div#asset_select_actions a { float: left; }
div.img_crop { width: 400px; max-height: 200px; overflow: auto; }
div.img_crop img { height: 60px;}
div#yes_no_modal { text-align: center; margin: 0; }
div#yes_no_modal ul { float: none; }
div#yes_no_modal li { display: inline-block; margin-right: 5px; float: none;}
div#add_edit_inline_modal { width: 800px; margin-left: -400px; max-height: 400px; overflow: auto; }
div#add_edit_inline_modal .add_inline_button, div#add_edit_inline_modal .edit_inline_button { display: none; }
div#asset_modal .buttonbar, div#add_edit_inline_modal .buttonbar { float: right;}
div.img_display { float: right; overflow: auto; height: 120px; width: 300px; }

div#viewpage_modal { top: 16px; border: 2px solid #666; background-color: #fff; height: 96%; width: 96%; padding: 0; display: none; }
div#viewpage_btns { position: absolute; z-index: 1; top: -17px; right: -2px; }
a.viewpage_btn { float: left; margin-right: 2px; color: #ccc; background-color: #666; padding: 1px 5px; }
a#viewpage_close { right: 0px; }
a#viewpage_new_page { right: 100px; }
iframe#viewpage_iframe { border: none; width: 100%; height: 100%; }

/* misc */
input#Save, input.submit { margin-top: 10px; width: 190px; text-align: center; padding: 6px 0; }
input#Cancel, input.cancel { margin-top: 10px; margin-right: 10px; width: 70px; text-align: center; padding: 6px 0; }
div#tooltip h3 { font-size: 11px; font-weight: normal; }
a.btn_field { background-image: url(../images/btn.png); line-height: 12px; border: 1px solid #ccc; padding: 2px 5px 2px 5px; }
a.btn_field:hover { background-position: 0 -27px; }
a#back_to { margin-bottom: 20px; display: block; }
.hidden_form { visibility:hidden; height: 0px; overflow: hidden; }

/* sticky */
div.sticky { background: transparent url(../images/sticky_border_bg.png) repeat-y; font-family: 'Comic Sans MS', cursive; width: 241px; position: relative; border-top: 1px solid #eaeaea; }
div.sticky_inner { min-height: 130px; background: #fafab7 url(../images/sticky_bg.png) repeat-x; width: 230px; margin-left: 9px; }
div.sticky_inner h1 { padding-top: 10px; font-family: 'Comic Sans MS', cursive; font-size: 14px; text-decoration: underline; margin: 0; font-weight: bold; color: #000; text-align: center; }
div.sticky_bot { background: transparent url(../images/sticky_bot.png) no-repeat; height: 26px;  }

/* pages */
div#page_navs { float: right; width: 180px; background-color: #ecf1f5; border-left: 1px solid #ccc; border-bottom: 1px solid #ccc; padding: 0px 10px; }
div#page_navs h3 { background-color: transparent; padding-left: 24px; margin-top: 5px; }
div#page_navs li { list-style: none; padding-left: 5px; margin: 5px 0; }

a.reset { display: block; width: 16px; height: 16px; background: transparent url(../images/ico_arrow_refresh.png) no-repeat; margin-right: 5px; }

/* tags */
.match_class { display: block; position: absolute; z-index: 10; margin-bottom: 0px; min-height: 30px;}
.match_class span { display: inline-block; cursor: pointer; padding: 3px; background-color: #fcfce6; border: 1px solid #ccc; margin: 3px 0 3px 3px; }






/*
 * Tables.less
 * Tables for, you guessed it, tabular data
 * ---------------------------------------- */
#list_container {
    padding: 15px 30px;
}

#data_table_container table {
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ccc;
  padding: 0;
  border-collapse: separate;
  *border-collapse: collapse;
  /* IE7, collapse table to remove spacing */

  font-size: 13px;
  
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#data_table_container table th, #data_table_container table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left;
}
#data_table_container table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle;
  
}
#data_table_container table td {
  vertical-align: top;
}
#data_table_container table th + th, #data_table_container table td + td {
  /*border-left: 1px solid #ddd;*/
}
#data_table_container table tr + tr td {

}


#data_table_container table thead tr:first-child th:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
#data_table_container table thead tr:first-child th:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}


#data_table_container table tbody tr:first-child td:first-child {
  -webkit-border-radius: 4px 0 0 0;
  -moz-border-radius: 4px 0 0 0;
  border-radius: 4px 0 0 0;
}
#data_table_container table tbody tr:first-child td:last-child {
  -webkit-border-radius: 0 4px 0 0;
  -moz-border-radius: 0 4px 0 0;
  border-radius: 0 4px 0 0;
}
#data_table_container table tbody tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
}
#data_table_container table tbody tr:last-child td:last-child {
  -webkit-border-radius: 0 0 4px 0;
  -moz-border-radius: 0 0 4px 0;
  border-radius: 0 0 4px 0;
}
#data_table_container .zebra-striped tbody tr:nth-child(odd) td {
  background-color: #f9f9f9;
}
#data_table_container .zebra-striped tbody tr:hover td {
  background-color: #f5f5f5;
}
#data_table_container table .header {
  cursor: pointer;
}
#data_table_container table .header:after {
  content: "";
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: hidden;
}
#data_table_container table .headerSortUp, #data_table_container table .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
#data_table_container table .header:hover:after {
  visibility: visible;
}
#data_table_container table .headerSortDown:after, #data_table_container table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
#data_table_container table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
#data_table_container table .blue {
  color: #049cdb;
  border-bottom-color: #049cdb;
}
#data_table_container table .headerSortUp.blue, #data_table_container table .headerSortDown.blue {
  background-color: #ade6fe;
}
#data_table_container table .green {
  color: #46a546;
  border-bottom-color: #46a546;
}
#data_table_container table .headerSortUp.green,#data_table_container table .headerSortDown.green {
  background-color: #cdeacd;
}
#data_table_container table .red {
  color: #9d261d;
  border-bottom-color: #9d261d;
}
#data_table_container table .headerSortUp.red, #data_table_container table .headerSortDown.red {
  background-color: #f4c8c5;
}
#data_table_container table .yellow {
  color: #ffc40d;
  border-bottom-color: #ffc40d;
}
#data_table_container table .headerSortUp.yellow, #data_table_container table .headerSortDown.yellow {
  background-color: #fff6d9;
}
#data_table_container table .orange {
  color: #f89406;
  border-bottom-color: #f89406;
}
#data_table_container table .headerSortUp.orange,#data_table_container  table .headerSortDown.orange {
  background-color: #fee9cc;
}
#data_table_container table .purple {
  color: #7a43b6;
  border-bottom-color: #7a43b6;
}
#data_table_container table .headerSortUp.purple, #data_table_container table .headerSortDown.purple {
  background-color: #e2d5f0;
}


/* CRONJOBS */
table.cronjob {
    margin-top: 20px;
}

table.cronjob a.ico_remove_line {
    height: 27px;
    background-position: 8px center;
}